
<!--Se ilumina cuando pasas por encima -->
a:hover img{
    filter: saturate();
}

.img {
    filter: saturate();
    
}#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  
}

#myImg:hover {opacity: 0.7;}
 



.padre {
  flex-direction: column;
    
}
