
.img {
              width: auto;
              height: 100px;
              padding: 50px;
              margin: 50px;
    }

.card-title {
    
    font-family: sans-serif;
    font-family: Times New Roman;
    font-size: 25pt;
    align-content: center;

    }
.cart-text {
    
    font-family: cursive;
    font-family: Verdana;
    font-size: 10pt;
    align-content: center;
    
     }

.padre {
  

}

#content1 {
    

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;  
}